<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Ananya A. Joshi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

  <body>
  	<div class="container-fluid bg-dark text-white pb-3 pt-3">
  	<div class="d-flex justify-content-center"><h2>Ananya A. Joshi</h2></div>
  	<div class="d-flex justify-content-center"><p> ✉️ : aa(last_name) at andrew dot cmu dot edu </p></div>
  		<div class="row">
    		<div class="col align-self-center">
    			<h3> 👋 Hello there! </h3>
				<p>I am a research person 🛠️ who builds effective prototypes. </p>
				<p>My research centers practical statistical applications for disease mitigation, and I care about data science for good. 🌱</p>
				<p>I am grateful to be advised by <a href="http://www.cs.cmu.edu/~roni/" class="link-primary">Roni Rosenfeld</a> and  <a href="https://bryanwilder.github.io/" class="link-primary">Bryan Wilder</a> at <a href="https://www.cmu.edu" class="link-primary">Carnegie Mellon University</a> in the Computer Science Ph.D. program. My work is also supported by the NSF GRFP. </p>
   			</div>
   			<div class="col-2 align-self-center">
     			<img src="/assets/headshot.jpg", class="img-fluid rounded-circle", alt="Personal Website Picture", width=100%>
    		</div>
  		</div>
	</div>
<div class="p-3">
	<h3> Recent Projects </h3>
	<div class="row">
		<div class="col align-self-center">
			<p>📌 <b>Computationally Assisted Quality Control for Public Health Data Streams</b> </p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Ananya Joshi, Katie Mazaitis, Roni Rosenfeld, Bryan Wilder   <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DELPHI Group, Carnegie Mellon University</i>  <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://arxiv.org/abs/2306.16914" class="link-primary">[ArXiV]</a><a href="https://github.com/cmu-delphi/covidcast-indicators/tree/main/_delphi_utils_python/delphi_utils/flash_eval" class="link-primary">[Code]</a><br>

			<ul>
			<li> Created a framework for Computationally Assisted Data Quality, where reviewers inspect a ranked list to detect irregularities from thousands of streams.</li>
			<li> Developed FlaSH, which is an outlier detection method which leverages statistical features of public health data and uses simple models.</li>
			<li> Conducted an interactive expert evaluation for FlaSH with outlier ranking and classification tasks. </li>
			</ul>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📣 Presentation to the Flu Division at the CDC   <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📣 <a href="https://www.ijcai.org/proceedings/2023/666" class="link-primary">IJCAI-23. International Joint Conference on Artificial Intelligence. 2023.</a>   <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oral Presentation + Poster + Paper   <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📣 <a href="https://csd.cmu.edu/calendar/speaking-skills-128" class="link-primary">Speaking Skills Presentation at Carnegie Mellon University</a> <br><br>

			<p>📌 <b>Cases2Beds</b></p>


			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Ananya Joshi, Chris Scott and Roni Rosenfeld   <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DELPHI Group, Carnegie Mellon University</i>  <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://delphi.cmu.edu/blog/2021/03/10/cases2beds-a-case-study-in-actionable-intelligence/" class="link-primary">[Blog A]</a><a href="https://www.cs.cmu.edu/~csd-phd-blog/2022/casestobeds/" class="link-primary">[Blog B]</a><a href="https://github.com/cmu-delphi/cases-to-beds-public" class="link-primary">[Code]</a>
			<br>

			<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modeled the expected # of hospital beds based on COVID-19 cases for the Allegheny County Health Department using participatory design and practical constraints in deployed public health settings. </li>
			</ul>

			<p>📌 <b>BuzzNet: Data Driven Approaches to Preventing Vector-Borne Diseases in Singapore</b></p>


			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Ananya Joshi, Clayton Miller   <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fulbright Urban Planning & Sustainable Design Award, Singapore, National University of Singapore</i>  <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.sciencedirect.com/science/article/pii/S1574954121000327" class="link-primary">📄 Review of machine learning techniques for mosquito control in urban environments</a>
			<br>

			<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Towards a sensor-based feedback mechanism to prevent mosquito breeding grounds in Singapore, I developed a suite of micro/macro modules (including deep-learning models that use audio, visual, and spatiotemporal input data) designed to work together and assist users in designing urban spaces that are unappealing to mosquitoes. </li>
			</ul>

			<p>📌 <b>Creating an Automated Ideological Transformer Using Moral Reframing</b></p>


			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Ananya Joshi, Christiane Fellbaum, Michael Guerzhoy <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Princeton University</i>  <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiIku2ZsPL9AhWEjIkEHdocAW4QFnoECA8QAQ&url=https%3A%2F%2Fdataspace.princeton.edu%2Fhandle%2F88435%2Fdsp019p290d20x&usg=AOvVaw3p2ZFk6wlDaE1uQV7B8vhc" class="link-primary">📄 Princeton Undergraduate Senior Thesis in Computer Science (A+)</a>
			<br>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🌟 Sigma Xi Award for Outstanding Undergraduate Research.


			</div>
			<div class="col-5 align-self-center">
				<img src="/assets/Thesis.svg", class="img-fluid border", alt="Thesis Research Overview", width=100%><br><br>


				




			</div>
		</div>

	</div>




<div class="p-3 bg-light">



     {{ content }}
 </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
  </body>
</html>

